.idea/.name
.idea/artifacts/gwt_material_basic_war.xml
.idea/artifacts/gwt_material_basic_war_exploded.xml
.idea/compiler.xml
.idea/copyright/profiles_settings.xml
.idea/encodings.xml
.idea/libraries/Maven__aopalliance_aopalliance_1_0.xml
.idea/libraries/Maven__com_github_gwtmaterialdesign_gwt_material_1_5_0_SNAPSHOT.xml
.idea/libraries/Maven__com_github_gwtmaterialdesign_gwt_material_addins_1_5_0_SNAPSHOT.xml
.idea/libraries/Maven__com_github_gwtmaterialdesign_gwt_material_themes_1_5_0_SNAPSHOT.xml
.idea/libraries/Maven__com_google_gwt_gwt_dev_2_7_0.xml
.idea/libraries/Maven__com_google_gwt_gwt_user_2_7_0.xml
.idea/libraries/Maven__com_google_gwt_inject_gin_2_1_2.xml
.idea/libraries/Maven__com_google_inject_extensions_guice_assistedinject_3_0.xml
.idea/libraries/Maven__com_google_inject_guice_3_0.xml
.idea/libraries/Maven__com_gwtplatform_gwtp_clients_common_1_4.xml
.idea/libraries/Maven__com_gwtplatform_gwtp_mvp_client_1_4.xml
.idea/libraries/Maven__com_gwtplatform_gwtp_mvp_shared_1_4.xml
.idea/libraries/Maven__commons_collections_commons_collections_3_2_1.xml
.idea/libraries/Maven__commons_lang_commons_lang_2_4.xml
.idea/libraries/Maven__javax_inject_javax_inject_1.xml
.idea/libraries/Maven__javax_validation_validation_api_1_0_0_GA.xml
.idea/libraries/Maven__javax_validation_validation_api_sources_1_0_0_GA.xml
.idea/libraries/Maven__org_apache_velocity_velocity_1_7.xml
.idea/libraries/Maven__org_ow2_asm_asm_5_0_3.xml
.idea/libraries/Maven__org_ow2_asm_asm_commons_5_0_3.xml
.idea/libraries/Maven__org_ow2_asm_asm_tree_5_0_3.xml
.idea/libraries/Maven__org_ow2_asm_asm_util_5_0_3.xml
.idea/misc.xml
.idea/modules.xml
.idea/workspace.xml
target/.generated/com/github/gwtmaterialdesign/client/application/ApplicationPresenterMyProxyImpl.java
target/.generated/com/github/gwtmaterialdesign/client/application/ApplicationView_BinderImpl.java
target/.generated/com/github/gwtmaterialdesign/client/application/ApplicationView_BinderImpl_GenBundle.java
target/.generated/com/github/gwtmaterialdesign/client/application/ApplicationView_BinderImpl_TemplateImpl.java
target/.generated/com/github/gwtmaterialdesign/client/application/com_gwtplatform_mvp_client_DesktopGinjector_DesktopGinjectorGinjector_fragment.java
target/.generated/com/github/gwtmaterialdesign/client/application/home/com_gwtplatform_mvp_client_DesktopGinjector_DesktopGinjectorGinjector_fragment.java
target/.generated/com/github/gwtmaterialdesign/client/application/home/HomePresenterMyProxyImpl.java
target/.generated/com/github/gwtmaterialdesign/client/application/home/HomeView_BinderImpl.java
target/.generated/com/github/gwtmaterialdesign/client/application/home/HomeView_BinderImpl_GenBundle.java
target/.generated/com/github/gwtmaterialdesign/client/application/home/HomeView_BinderImpl_TemplateImpl.java
target/.generated/com/github/gwtmaterialdesign/client/resources/AppResources_default_InlineClientBundleGenerator.java
target/.generated/com/github/gwtmaterialdesign/client/resources/com_gwtplatform_mvp_client_DesktopGinjector_DesktopGinjectorGinjector_fragment.java
target/.generated/com/google/gwt/i18n/client/constants/NumberConstantsImpl_.java
target/.generated/com/google/gwt/i18n/client/impl/LocaleInfoImpl_.java
target/.generated/com/google/gwt/i18n/client/impl/LocaleInfoImpl_shared.java
target/.generated/com/google/gwt/lang/com_00046github_00046gwtmaterialdesign_00046GwtMaterialBasic__EntryMethodHolder.java
target/.generated/com/google/gwt/place/shared/com_gwtplatform_mvp_client_DesktopGinjector_DesktopGinjectorGinjector_fragment.java
target/.generated/com/google/gwt/user/client/DocumentModeAsserter_DocumentModeProperty.java
target/.generated/com/google/gwt/user/client/impl/WindowImplIE_Resources_default_InlineClientBundleGenerator.java
target/.generated/com/google/gwt/useragent/client/UserAgentImplGecko1_8.java
target/.generated/com/google/gwt/useragent/client/UserAgentImplIe10.java
target/.generated/com/google/gwt/useragent/client/UserAgentImplIe8.java
target/.generated/com/google/gwt/useragent/client/UserAgentImplIe9.java
target/.generated/com/google/gwt/useragent/client/UserAgentImplSafari.java
target/.generated/com/google/web/bindery/event/shared/com_gwtplatform_mvp_client_DesktopGinjector_DesktopGinjectorGinjector_fragment.java
target/.generated/com/gwtplatform/common/client/com_gwtplatform_mvp_client_DesktopGinjector_DesktopGinjectorGinjector_fragment.java
target/.generated/com/gwtplatform/common/shared/com_gwtplatform_mvp_client_DesktopGinjector_DesktopGinjectorGinjector_fragment.java
target/.generated/com/gwtplatform/mvp/client/ApplicationControllerImpl.java
target/.generated/com/gwtplatform/mvp/client/ClientGinjector.java
target/.generated/com/gwtplatform/mvp/client/com_gwtplatform_mvp_client_DesktopGinjector_DesktopGinjectorGinjector.java
target/.generated/com/gwtplatform/mvp/client/com_gwtplatform_mvp_client_DesktopGinjector_DesktopGinjectorGinjector_fragment.java
target/.generated/com/gwtplatform/mvp/client/com_gwtplatform_mvp_client_DesktopGinjectorImpl.java
target/.generated/com/gwtplatform/mvp/client/DesktopGinjector.java
target/.generated/com/gwtplatform/mvp/client/DesktopGinjectorProvider.java
target/.generated/com/gwtplatform/mvp/client/GinjectorProvider.java
target/.generated/com/gwtplatform/mvp/client/MobileGinjector.java
target/.generated/com/gwtplatform/mvp/client/MobileGinjectorProvider.java
target/.generated/com/gwtplatform/mvp/client/proxy/com_gwtplatform_mvp_client_DesktopGinjector_DesktopGinjectorGinjector_fragment.java
target/.generated/com/gwtplatform/mvp/client/TabletGinjector.java
target/.generated/com/gwtplatform/mvp/client/TabletGinjectorProvider.java
target/.generated/com/gwtplatform/mvp/shared/proxy/com_gwtplatform_mvp_client_DesktopGinjector_DesktopGinjectorGinjector_fragment.java
target/.generated/gwt/material/design/addins/client/resources/MaterialAddinsResources_default_InlineClientBundleGenerator.java
target/.generated/gwt/material/design/client/resources/MaterialDebugResources_default_InlineClientBundleGenerator.java
target/.generated/gwt/material/design/client/resources/MaterialResources_default_InlineClientBundleGenerator.java
target/.generated/gwt/material/design/client/resources/WithJQueryDebugResources_default_InlineClientBundleGenerator.java
target/gwt-material-basic-1.0-SNAPSHOT.war
target/gwt-material-basic-1.0-SNAPSHOT/GwtMaterialBasic/189C43390598E267F3EB5814B49F33A9.cache.js
target/gwt-material-basic-1.0-SNAPSHOT/GwtMaterialBasic/4C69DDEA553B9BE5F014A11A182F805A.cache.js
target/gwt-material-basic-1.0-SNAPSHOT/GwtMaterialBasic/599C169FBA51E91327A99B42957F7C0C.cache.js
target/gwt-material-basic-1.0-SNAPSHOT/GwtMaterialBasic/71B2EFB683727160D2A0763B1602C4F2.cache.js
target/gwt-material-basic-1.0-SNAPSHOT/GwtMaterialBasic/B42A566D5C608CA0F222F8E6CD497A08.cache.png
target/gwt-material-basic-1.0-SNAPSHOT/GwtMaterialBasic/CBBA68980BF6696BB10C7A2352F3ED77.cache.js
target/gwt-material-basic-1.0-SNAPSHOT/GwtMaterialBasic/clear.cache.gif
target/gwt-material-basic-1.0-SNAPSHOT/GwtMaterialBasic/compilation-mappings.txt
target/gwt-material-basic-1.0-SNAPSHOT/GwtMaterialBasic/css/animation.css
target/gwt-material-basic-1.0-SNAPSHOT/GwtMaterialBasic/css/autocomplete.css
target/gwt-material-basic-1.0-SNAPSHOT/GwtMaterialBasic/css/bubble.css
target/gwt-material-basic-1.0-SNAPSHOT/GwtMaterialBasic/css/material-icons.css
target/gwt-material-basic-1.0-SNAPSHOT/GwtMaterialBasic/css/materialize.blue.css
target/gwt-material-basic-1.0-SNAPSHOT/GwtMaterialBasic/css/materialize.min.css
target/gwt-material-basic-1.0-SNAPSHOT/GwtMaterialBasic/css/menubar.css
target/gwt-material-basic-1.0-SNAPSHOT/GwtMaterialBasic/css/morph.css
target/gwt-material-basic-1.0-SNAPSHOT/GwtMaterialBasic/css/overlay.css
target/gwt-material-basic-1.0-SNAPSHOT/GwtMaterialBasic/css/overridecss.blue.css
target/gwt-material-basic-1.0-SNAPSHOT/GwtMaterialBasic/css/overridecss.css
target/gwt-material-basic-1.0-SNAPSHOT/GwtMaterialBasic/css/sideprofile.css
target/gwt-material-basic-1.0-SNAPSHOT/GwtMaterialBasic/css/stepper.css
target/gwt-material-basic-1.0-SNAPSHOT/GwtMaterialBasic/css/subheader.css
target/gwt-material-basic-1.0-SNAPSHOT/GwtMaterialBasic/css/swipeable.css
target/gwt-material-basic-1.0-SNAPSHOT/GwtMaterialBasic/css/timepicker.css
target/gwt-material-basic-1.0-SNAPSHOT/GwtMaterialBasic/css/treeitem.css
target/gwt-material-basic-1.0-SNAPSHOT/GwtMaterialBasic/css/waterfall.css
target/gwt-material-basic-1.0-SNAPSHOT/GwtMaterialBasic/css/window.css
target/gwt-material-basic-1.0-SNAPSHOT/GwtMaterialBasic/font/material-icons/LICENSE.txt
target/gwt-material-basic-1.0-SNAPSHOT/GwtMaterialBasic/font/material-icons/MaterialIcons-Regular.eot
target/gwt-material-basic-1.0-SNAPSHOT/GwtMaterialBasic/font/material-icons/MaterialIcons-Regular.ijmap
target/gwt-material-basic-1.0-SNAPSHOT/GwtMaterialBasic/font/material-icons/MaterialIcons-Regular.ttf
target/gwt-material-basic-1.0-SNAPSHOT/GwtMaterialBasic/font/material-icons/MaterialIcons-Regular.woff
target/gwt-material-basic-1.0-SNAPSHOT/GwtMaterialBasic/font/material-icons/MaterialIcons-Regular.woff2
target/gwt-material-basic-1.0-SNAPSHOT/GwtMaterialBasic/font/roboto/Roboto-Bold.ttf
target/gwt-material-basic-1.0-SNAPSHOT/GwtMaterialBasic/font/roboto/Roboto-Bold.woff
target/gwt-material-basic-1.0-SNAPSHOT/GwtMaterialBasic/font/roboto/Roboto-Bold.woff2
target/gwt-material-basic-1.0-SNAPSHOT/GwtMaterialBasic/font/roboto/Roboto-Light.ttf
target/gwt-material-basic-1.0-SNAPSHOT/GwtMaterialBasic/font/roboto/Roboto-Light.woff
target/gwt-material-basic-1.0-SNAPSHOT/GwtMaterialBasic/font/roboto/Roboto-Light.woff2
target/gwt-material-basic-1.0-SNAPSHOT/GwtMaterialBasic/font/roboto/Roboto-Medium.ttf
target/gwt-material-basic-1.0-SNAPSHOT/GwtMaterialBasic/font/roboto/Roboto-Medium.woff
target/gwt-material-basic-1.0-SNAPSHOT/GwtMaterialBasic/font/roboto/Roboto-Medium.woff2
target/gwt-material-basic-1.0-SNAPSHOT/GwtMaterialBasic/font/roboto/Roboto-Regular.ttf
target/gwt-material-basic-1.0-SNAPSHOT/GwtMaterialBasic/font/roboto/Roboto-Regular.woff
target/gwt-material-basic-1.0-SNAPSHOT/GwtMaterialBasic/font/roboto/Roboto-Regular.woff2
target/gwt-material-basic-1.0-SNAPSHOT/GwtMaterialBasic/font/roboto/Roboto-Thin.ttf
target/gwt-material-basic-1.0-SNAPSHOT/GwtMaterialBasic/font/roboto/Roboto-Thin.woff
target/gwt-material-basic-1.0-SNAPSHOT/GwtMaterialBasic/font/roboto/Roboto-Thin.woff2
target/gwt-material-basic-1.0-SNAPSHOT/GwtMaterialBasic/GwtMaterialBasic.devmode.js
target/gwt-material-basic-1.0-SNAPSHOT/GwtMaterialBasic/GwtMaterialBasic.nocache.js
target/gwt-material-basic-1.0-SNAPSHOT/index.html
target/gwt-material-basic-1.0-SNAPSHOT/WEB-INF/classes/com/github/gwtmaterialdesign/client/application/ApplicationModule.class
target/gwt-material-basic-1.0-SNAPSHOT/WEB-INF/classes/com/github/gwtmaterialdesign/client/application/ApplicationPresenter$MyProxy.class
target/gwt-material-basic-1.0-SNAPSHOT/WEB-INF/classes/com/github/gwtmaterialdesign/client/application/ApplicationPresenter$MyView.class
target/gwt-material-basic-1.0-SNAPSHOT/WEB-INF/classes/com/github/gwtmaterialdesign/client/application/ApplicationPresenter.class
target/gwt-material-basic-1.0-SNAPSHOT/WEB-INF/classes/com/github/gwtmaterialdesign/client/application/ApplicationView$Binder.class
target/gwt-material-basic-1.0-SNAPSHOT/WEB-INF/classes/com/github/gwtmaterialdesign/client/application/ApplicationView.class
target/gwt-material-basic-1.0-SNAPSHOT/WEB-INF/classes/com/github/gwtmaterialdesign/client/application/home/HomeModule.class
target/gwt-material-basic-1.0-SNAPSHOT/WEB-INF/classes/com/github/gwtmaterialdesign/client/application/home/HomePresenter$MyProxy.class
target/gwt-material-basic-1.0-SNAPSHOT/WEB-INF/classes/com/github/gwtmaterialdesign/client/application/home/HomePresenter$MyView.class
target/gwt-material-basic-1.0-SNAPSHOT/WEB-INF/classes/com/github/gwtmaterialdesign/client/application/home/HomePresenter.class
target/gwt-material-basic-1.0-SNAPSHOT/WEB-INF/classes/com/github/gwtmaterialdesign/client/application/home/HomeView$Binder.class
target/gwt-material-basic-1.0-SNAPSHOT/WEB-INF/classes/com/github/gwtmaterialdesign/client/application/home/HomeView.class
target/gwt-material-basic-1.0-SNAPSHOT/WEB-INF/classes/com/github/gwtmaterialdesign/client/gin/ClientModule.class
target/gwt-material-basic-1.0-SNAPSHOT/WEB-INF/classes/com/github/gwtmaterialdesign/client/place/NameTokens.class
target/gwt-material-basic-1.0-SNAPSHOT/WEB-INF/classes/com/github/gwtmaterialdesign/client/resources/AppResources$Normalize.class
target/gwt-material-basic-1.0-SNAPSHOT/WEB-INF/classes/com/github/gwtmaterialdesign/client/resources/AppResources$Style.class
target/gwt-material-basic-1.0-SNAPSHOT/WEB-INF/classes/com/github/gwtmaterialdesign/client/resources/AppResources.class
target/gwt-material-basic-1.0-SNAPSHOT/WEB-INF/classes/com/github/gwtmaterialdesign/client/resources/css/normalize.gss
target/gwt-material-basic-1.0-SNAPSHOT/WEB-INF/classes/com/github/gwtmaterialdesign/client/resources/css/style.gss
target/gwt-material-basic-1.0-SNAPSHOT/WEB-INF/classes/com/github/gwtmaterialdesign/client/resources/ResourceLoader.class
target/gwt-material-basic-1.0-SNAPSHOT/WEB-INF/deploy/GwtMaterialBasic/rpcPolicyManifest/manifest.txt
target/gwt-material-basic-1.0-SNAPSHOT/WEB-INF/deploy/GwtMaterialBasic/symbolMaps/189C43390598E267F3EB5814B49F33A9.symbolMap
target/gwt-material-basic-1.0-SNAPSHOT/WEB-INF/deploy/GwtMaterialBasic/symbolMaps/4C69DDEA553B9BE5F014A11A182F805A.symbolMap
target/gwt-material-basic-1.0-SNAPSHOT/WEB-INF/deploy/GwtMaterialBasic/symbolMaps/599C169FBA51E91327A99B42957F7C0C.symbolMap
target/gwt-material-basic-1.0-SNAPSHOT/WEB-INF/deploy/GwtMaterialBasic/symbolMaps/71B2EFB683727160D2A0763B1602C4F2.symbolMap
target/gwt-material-basic-1.0-SNAPSHOT/WEB-INF/deploy/GwtMaterialBasic/symbolMaps/CBBA68980BF6696BB10C7A2352F3ED77.symbolMap
target/gwt-material-basic-1.0-SNAPSHOT/WEB-INF/lib/gwt-material-1.5.0-SNAPSHOT.jar
target/gwt-material-basic-1.0-SNAPSHOT/WEB-INF/lib/gwt-material-addins-1.5.0-SNAPSHOT.jar
target/gwt-material-basic-1.0-SNAPSHOT/WEB-INF/lib/gwt-material-themes-1.5.0-SNAPSHOT.jar
target/gwt-material-basic-1.0-SNAPSHOT/WEB-INF/web.xml
target/gwt-unitCache/gwt-unitCache-c2c3dd5baf648a0bb199047a818be5e560f48982-000001538427D9DA
target/gwt-unitCache/gwt-unitCache-c2c3dd5baf648a0bb199047a818be5e560f48982-0000015384284B7F
target/gwt-unitCache/gwt-unitCache-c2c3dd5baf648a0bb199047a818be5e560f48982-000001538428571B
target/gwt-unitCache/gwt-unitCache-c2c3dd5baf648a0bb199047a818be5e560f48982-0000015384285BE1
target/gwt-unitCache/gwt-unitCache-c2c3dd5baf648a0bb199047a818be5e560f48982-0000015384285D19
target/gwt-unitCache/gwt-unitCache-c2c3dd5baf648a0bb199047a818be5e560f48982-0000015384285ECD
target/gwt-unitCache/gwt-unitCache-c2c3dd5baf648a0bb199047a818be5e560f48982-0000015384286BF2
target/gwt-unitCache/gwt-unitCache-c2c3dd5baf648a0bb199047a818be5e560f48982-0000015384286CD5
target/gwt-unitCache/gwt-unitCache-c2c3dd5baf648a0bb199047a818be5e560f48982-0000015384286E22
target/gwt-unitCache/gwt-unitCache-c2c3dd5baf648a0bb199047a818be5e560f48982-0000015384286ECD
target/gwt-unitCache/gwt-unitCache-c2c3dd5baf648a0bb199047a818be5e560f48982-0000015384287688
target/gwt-unitCache/gwt-unitCache-c2c3dd5baf648a0bb199047a818be5e560f48982-0000015384287825
target/gwt-unitCache/gwt-unitCache-c2c3dd5baf648a0bb199047a818be5e560f48982-0000015384287887
target/gwt-unitCache/gwt-unitCache-c2c3dd5baf648a0bb199047a818be5e560f48982-0000015384287D77
target/gwt-unitCache/gwt-unitCache-c2c3dd5baf648a0bb199047a818be5e560f48982-0000015384287F2A
target/gwt-unitCache/gwt-unitCache-c2c3dd5baf648a0bb199047a818be5e560f48982-00000153842882EA
target/gwt-unitCache/gwt-unitCache-c2c3dd5baf648a0bb199047a818be5e560f48982-0000015384288369
target/gwt-unitCache/gwt-unitCache-c2c3dd5baf648a0bb199047a818be5e560f48982-000001538428843C
target/gwt-unitCache/gwt-unitCache-c2c3dd5baf648a0bb199047a818be5e560f48982-0000015384288488
target/gwt-unitCache/gwt-unitCache-c2c3dd5baf648a0bb199047a818be5e560f48982-00000153846DF20E
target/gwt-unitCache/gwt-unitCache-c2c3dd5baf648a0bb199047a818be5e560f48982-0000015384708616
target/gwt-unitCache/gwt-unitCache-c2c3dd5baf648a0bb199047a818be5e560f48982-000001538470F00D
target/gwt-unitCache/gwt-unitCache-c2c3dd5baf648a0bb199047a818be5e560f48982-0000015384710C45
target/gwt-unitCache/gwt-unitCache-c2c3dd5baf648a0bb199047a818be5e560f48982-000001538471106A
target/gwt-unitCache/gwt-unitCache-c2c3dd5baf648a0bb199047a818be5e560f48982-00000153847114AE
target/gwt-unitCache/gwt-unitCache-c2c3dd5baf648a0bb199047a818be5e560f48982-00000153847114E8
target/gwt-unitCache/gwt-unitCache-c2c3dd5baf648a0bb199047a818be5e560f48982-000001538472B972
target/gwt-unitCache/gwt-unitCache-c2c3dd5baf648a0bb199047a818be5e560f48982-000001538473ACF2
target/gwt-unitCache/gwt-unitCache-c2c3dd5baf648a0bb199047a818be5e560f48982-000001538491BE6A
target/gwt-unitCache/gwt-unitCache-c2c3dd5baf648a0bb199047a818be5e560f48982-000001538493E885
target/gwt-unitCache/gwt-unitCache-c2c3dd5baf648a0bb199047a818be5e560f48982-00000153849674C3
target/gwt-unitCache/gwt-unitCache-c2c3dd5baf648a0bb199047a818be5e560f48982-000001538497C6C5
target/maven-archiver/pom.properties
target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
gwt-material-basic.iml
.idea/
.target/
target/
idea/
